
<footer class="footer">
    <div class="footer-content">
        <div class="footer-links">
            <a href="/about">Acerca de</a>
            <a href="/contact">Contacto</a>
            <a href="/privacy">Privacidad</a>
        </div>
        <div class="copyright">
            &copy; <%= new Date().getFullYear() %> Intestino. Todos los derechos reservados.
        </div>
    </div>
</footer>



