<header class="navbar">
    <div class="navbar-left">
        <span class="welcome-message">Bienvenido, <%= user.username %></span>
    </div>
    <div class="navbar-right">
        <a href="/admin/home" class="btn">home</a>
        <a href="/admin/articles" class="btn">Articulos</a>
        <a href="/logout" class="logout-btn">Logout</a>
    </div>
</header>